<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Apteka.Properties.Settings.aptekaConnectionString"
            connectionString="Data Source=DISEL-PC\SQLEXPRESS;Initial Catalog=apteka;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>